body {
    background-color:#BCB8B1;
}
div.jumbotron {
        border-radius: 6px ;

    padding:10px;
    height: 300px;
    background-color: #463F3A;

    transition:  padding 1s, margin 1s;
}
div.jumbotron:active {

   margin:20px;
 padding:20px;
}
.center{
     display: flex;
  justify-content: center;
  align-items: center;

 
}